@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600&display=swap');

.font-heading {
  font-family: 'Plus Jakarta Sans', Inter, sans-serif;
}

.text-primary {
  color: rgba(255, 171, 30, 1);
}

.bg-primary {
  background-color: rgba(255, 171, 30, 1);
}
.primary-border {
  border-radius: 9999px;
  display: block;
  position: relative;
  width: 42%;
  height: 6px;
}

.header {
  height: 100px;
  will-change: height;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.header:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  --tw-border-opacity: 1;
  border-color: rgba(66, 70, 87, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(66, 70, 87, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.75;
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  transform: translateY(-100%);
  transition: all 0.3s;
  z-index: -1;
}
.nav-link.active,
.nav-link:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.nav-link {
  padding: 0.75rem 1.5rem;
  font-family: Inter, sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
  cursor: pointer;
}
.nav-link.active span {
  transform: translateX(10px);
}

.nav-link.active:before {
  transform: translateY(-100%) scale(1);
}
.nav-link:before,
.nav-link span {
  transition: all 0.15s;
}
.nav-link:before {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  content: '';
  position: absolute;
  top: 50%;
  left: 15px;
  height: 8px;
  width: 8px;
  background: #ffab1e;
  border-radius: 100%;
  transform: translateY(-50%) scale(0);
}

.nav-link::before,
.nav-link span {
  transition: all 0.15s;
}

.nav-control {
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0.1em !important;
}

.nav-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
}

.menu-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  --tw-bg-opacity: 1;
  background-color: rgba(29, 31, 41, var(--tw-bg-opacity));
  opacity: 0;
}

.menu-bg,
.menu-content {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.menu-content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(66, 70, 87, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(51, 54, 70, var(--tw-bg-opacity));
  padding: 1.25rem;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  transform: translateY(-100%);
}

.project-container {
  transition: all 0.15s;
}

.project-container:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(66, 70, 87, var(--tw-bg-opacity));
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  transform: translateY(-10px);
  z-index: 5;
}

.is-type-primary {
  position: relative;
  border-radius: 0.25rem;
  border-width: 1px;
  padding: 0.75rem 2rem;

  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(29, 31, 41, var(--tw-text-opacity));
  transition: all 0.15s;

  border-color: rgba(255, 189, 77, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(255, 171, 30, var(--tw-bg-opacity));
}

.is-type-primary:hover {
  background-color: rgba(255, 189, 77, var(--tw-bg-opacity));
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-y: -0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 189, 77, var(--tw-bg-opacity));
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.is-type-link {
  position: relative;
  border-radius: 0;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgba(255, 171, 30, var(--tw-text-opacity));
  background: transparent;
  transition: color 0.25s;
}

.is-type-link::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: currentColor;
  opacity: 0.5;
}

.is-type-link:hover {
  color: #ffff;
}

.tile {
  transition: all 0.15s;
}

.tile:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(66, 70, 87, var(--tw-bg-opacity));
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  transform: translateY(-10px);
  z-index: 5;
}
.skill-icon svg {
  width: 48px;
  height: 48px;
}

.form-label {
  display: block;
  padding-bottom: 0.75rem;
  font-family: Inter, sans-serif;
}

.form-input,
.form-input:focus {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: rgba(66, 70, 87, var(--tw-bg-opacity));
}

.form-input {
  display: block;
  width: 100%;
  border-radius: 0;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: rgba(95, 100, 120, var(--tw-border-opacity));
  padding: 1rem 1.25rem;
  font-family: Inter, sans-serif;
  letter-spacing: 0.025em;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
