.header {
  height: 100px;
  will-change: height;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.is-scrolled {
  height: 65px;
  background-color: rgba(66, 70, 87, 0.75);
}

.header:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  --tw-border-opacity: 1;
  border-color: rgba(66, 70, 87, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(66, 70, 87, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.75;
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  transform: translateY(-100%);
  transition: all 0.3s;
  z-index: -1;
}
.nav-link.active,
.nav-link:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.nav-link {
  padding: 0.75rem 1.5rem;
  font-family: Inter, sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
  cursor: pointer;
}
.nav-link.active span,
.nav-link:hover span {
  transform: translateX(10px);
}

.nav-link.active:not(.nav-button):before,
.nav-link:hover:not(.nav-button):before {
  transform: translateY(-50%) scale(1);
}
.nav-link:before,
.nav-link span {
  transition: all 0.15s;
}
.nav-link:before {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  content: '';
  position: absolute;
  top: 50%;
  left: 15px;
  height: 8px;
  width: 8px;
  background: #ffab1e;
  border-radius: 100%;
  transform: translateY(-50%) scale(0);
}

.nav-link::before,
.nav-link span {
  transition: all 0.15s;
}

.nav-control {
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0.1em !important;
}

.nav-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
}

.menu.is-open {
  visibility: visible;
}

.menu.is-open .menu-content {
  transform: translateY(0);
}

.menu-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  --tw-bg-opacity: 1;
  background-color: rgba(29, 31, 41, var(--tw-bg-opacity));
  opacity: 0;
}

.menu-bg,
.menu-content {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.menu.is-open .menu-bg {
  opacity: 0.9;
}

.menu-content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(66, 70, 87, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(51, 54, 70, var(--tw-bg-opacity));
  padding: 1.25rem;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  transform: translateY(-100%);
}
